{% extends 'home.html' %}

{% block nav %}
<div class="main">
    <div class="text">
        <h1>Online Exam Portal</h1> <br>
       <h3>
           About
       </h3>
       <p>Conducting Exams is stressful.  Let Pariksha solve your stress of conducting exams online effortlessly. Pariksha comes with tools making the process of taking exams easier along with providing easy interface for students  . Choose Pariksha today!</p>
       
    </div>
    
</div>

<div class="footer">
   <center> <div class="line"></div> </center>
   <div class="footer-text">
       <p>Created by - Ankur</p>
   </div>
</div>
{% endblock nav %}



