{% extends 'home.html' %}

{% block nav %}
<div class="main">
    <div class="text">
        <h1>Contact Details</h1>
       <h3>
           
       </h3>
       <p>
           Email : djankur27@gmail.com
       </p>
       <p>
           Phone Number :+91 7002775924
       </p>
       <form action="#">
           <textarea name="textarea" id="textarea" cols="50" rows="10"></textarea> <br>
        <button class="btn" onclick="location.href='regform/'" style="width: 300px;">Send</button>
    </form>
    </div>
    
    <!-- <video src="static/image.mp4"></video> -->
</div>

<div class="footer">
   <center> <div class="line"></div> </center>
   <div class="footer-text">
       <p>Created by - Ankur</p>
   </div>
</div>
{% endblock nav %}



