{% extends 'tbase.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            
            margin-left: 17%;
            
        }
        table, th, td {
          border:1px solid black;
          border-collapse: collapse;
          border-color: rgb(197, 138, 197);
          
          
        }
        
        </style>
</head>
<body>
    <!-- <center>
        {% if messages %}
    <ul style="color: rgb(62, 214, 62);">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    </center> -->
    <center>
        {% if messages %}
    <div style="color: rgb(48, 172, 48);margin-bottom: 10px;font-size: large;">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            {% endfor %}
    </div>
    {% endif %}
    </center>
    <table style="width: 80%;">
        <tr>
          <th style="width:5rem;"> QId</th>
          <th  style="width: 30rem;">Questions</th>
          <th>Option 1</th>
         
          <th style="width: 10rem;">Option 2</th>
          <th style="width: 10rem;">Option 3</th>
          <th style="width: 10rem;">Option 4</th>
          <th style="width: 10rem;">Action</th>
        </tr>
        {% for i in qn  %}
        <form method="post" action="/edit/">
            {% csrf_token %}
            <tr >
                <td><input  type="text" name="qid" value="{{i.qid}}" style="width:5rem;"> </td>
                <td><input  type="text" name="qn"  value="{{i.question}}" style="width: 30rem;font-size:medium;"  > </td>
                <td><input  type="text" name="option1" value="{{i.option1}}"  style="width:10rem;"></td>
                <td><input  type="text" name="option2" value="{{i.option2}}"  style="width:10rem;"></td>
                <td><input  type="text" name="option3" value="{{i.option3}}"  style="width:10rem;"></td>
                <td><input  type="text" name="option4" value="{{i.option4}}"  style="width:10rem;"></td>
                <td> <input type="submit" style="inline-size: 58px;" value="EDIT"></td>
              </tr>
            
        </form>
        {% endfor %}
      </table>
</body>
</html>
{% endblock body %}